*.egg-info
*.elc
*.less.css
*.po
*.po.js
*.pyc
*.swp
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.ipython
.virtualenvs
.zsh/cache
TAGS
build
dist
hearth/templates.js
node_modules
settings_local.js
tags
