<section id="search-results" class="wallpapers main full c">



  <div id="ph_1" class="placeholder">
    <header class="secondary-header c">
      <h2 class="linefit">
        Wallpapers
        <span class="subtitle hide-on-mobile">Showing <b>1</b>–<b class="total-results">25</b></span>
      </h2>
      <a href="#" class="expand-toggle active" title="Expand"></a>
    </header>
    <ol class="container listing search-listing c expanded">

        <li class="item result app c">

  <a class="product mkt-tile " href="/app/pasjanssolitaire?src=search" data-slug="pasjanssolitaire" data-id="379491" itemscope="" itemtype="http://schema.org/SoftwareApplication">
    <img class="icon" alt="" src="http://static.comicvine.com/uploads/original/0/77/937428-asterix.jpg" height="64" width="64" itemprop="image">
    <div class="info">
      <h3 itemprop="name">Asterix</h3>
      <div class="price vital">Free</div>
      <div class="rating vital" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
        <meta itemprop="worstRating" content="1">
        <span class="stars large stars-4" title="">
          Rated <span itemprop="ratingValue">4</span> out of <span itemprop="bestRating">5</span> stars
        </span>
          <span class="cnt short">
            (<span itemprop="reviewCount">40</span>)
          </span>
          <span class="cnt long">
            40 Reviews
          </span>
      </div>



  <button class="button product install wallpaper" data-manifest_url="http://people.mozilla.org/~cwiemeersch/wallpapers-asterix.webapp" data-slug="pasjanssolitaire">
    Free
  </button>

    </div>

      <div class="bad-app">Your browser or device is not web-app compatible.</div>

  </a>

        </li>

        <li class="item result app c">

  <a class="product mkt-tile " href="/app/littlealchemy?src=search" data-slug="littlealchemy" data-id="371377" itemscope="" itemtype="http://schema.org/SoftwareApplication">
    <img class="icon" alt="" src="http://ww2.valdosta.edu/~tvthedford/mouse3.jpg" height="64" width="64" itemprop="image">
    <div class="info">
      <h3 itemprop="name">Great Mouse Detective</h3>

      <div class="price vital">Free</div>
      <div class="rating vital" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">

  <meta itemprop="worstRating" content="1">
  <span class="stars large stars-4" title="">
    Rated <span itemprop="ratingValue">4</span> out of <span itemprop="bestRating">5</span> stars
  </span>

          <span class="cnt short">
            (<span itemprop="reviewCount">45</span>)
          </span>
          <span class="cnt long">
            45 Reviews
          </span>
      </div>

  <button class="button product install wallpaper" data-manifest_url="http://people.mozilla.org/~cwiemeersch/wallpapers-gmd.webapp" data-slug="gmd">
    Free
  </button>

    </div>

      <div class="bad-app">Your browser or device is not web-app compatible.</div>

  </a>

        </li>

        <li class="item result app c">

  <a class="product mkt-tile " href="/app/chess-1?src=search" data-slug="chess-1" data-id="364738" itemscope="" itemtype="http://schema.org/SoftwareApplication">
    <img class="icon" alt="" src="http://m.hopy.com/wp-content/uploads/2013/04/34.jpg" height="64" width="64" itemprop="image">
    <div class="info">
      <h3 itemprop="name">Strandead</h3>
      <div class="price vital">Free</div>
      <div class="rating vital" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
          <meta itemprop="worstRating" content="1">
          <span class="stars large stars-3" title="">
            Rated <span itemprop="ratingValue">3</span> out of <span itemprop="bestRating">5</span> stars
          </span>
          <span class="cnt short">
            (<span itemprop="reviewCount">14</span>)
          </span>
          <span class="cnt long">
            14 Reviews
          </span>
      </div>

  <button class="button product install wallpaper" data-manifest_url="https://people.mozilla.com/~cwiemeersch/strandead.webapp" data-slug="chess-1">
    Free
  </button>

    </div>

      <div class="bad-app">Your browser or device is not web-app compatible.</div>

  </a>
        </li>

        <li class="item result app c">

  <a class="product mkt-tile " href="/app/word-wars?src=search" data-slug="word-wars" data-id="377829" itemscope="" itemtype="http://schema.org/SoftwareApplication">
    <img class="icon" alt="" src="http://static.guim.co.uk/sys-images/Guardian/About/General/2010/11/2/1288700720991/adventures-of-tintin-tv-s-006.jpg" height="64" width="64" itemprop="image">
    <div class="info">
      <h3 itemprop="name">Tintin</h3>
      <div class="price vital">Free</div>
      <div class="rating vital" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
      <meta itemprop="worstRating" content="1">
      <span class="stars large stars-4" title="">
        Rated <span itemprop="ratingValue">4</span> out of <span itemprop="bestRating">5</span> stars
      </span>
      <span class="cnt short">
        (<span itemprop="reviewCount">22</span>)
      </span>
      <span class="cnt long">
        22 Reviews
      </span>
    </div>

  <button class="button product install wallpaper" data-manifest_url="http://people.mozilla.org/~cwiemeersch/wallpapers-tintin.webapp" data-slug="word-wars">
    Free
  </button>

    </div>

      <div class="bad-app">Your browser or device is not web-app compatible.</div>

  </a>
        </li>
    </ol>
  </div>
</section>
