// styles for the global site header only.
@import 'lib';

// ***************** Wide Mobile (600+ px)

// usable on any header
.header {
    box-shadow: 0 1px 3px 0 #888, inset 0 1px 0 0 $london-fog-gray;
    display-flex();
    gradient-two-color(#fff, #e1e1e1);
    height: 50px;
    max-height: 50px;
    width: 100%;
    > * {
        flex-center();
    }
    .title {
        flex(1);
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 50px;
        z-index: 10;
        padding-left: 10px;
    }
}

// # for the primary site header *only*. If you need to generalize a style in here, move it.
.site-header {
    display: block;
    position: fixed;
    z-index: 10;
    text-align: center;
    > * {
        display: block;
    }
    > nav {
        height: 50px;
        display-flex();
        position: relative;
        text-align: left;
        width: 100%;
        > * {
            flex-center();
            display: block;
        }
    }
    .site {
        hidetext();
        width: 200px;
        height: 30px;
        margin-left: 10px;
    }
    .wordmark {
        display: block;
        background: url(../img/logos/large.png) no-repeat;
        background-size: auto 30px;
        height: 30px;
        width: 200px;
    }
    .header-button {
        display: none;
    }
}
.nightly {
    .wordmark {
        background-image: url(../img/logos/mp_nightly_wordmark_small.png);
    }
}
// compensate for fixed header on page el.
#page {
    padding-top: 50px;
}

.act-tray {
    position: relative;
    width: 50px;
    height: 50px;
    .header-button.settings {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.site-header .search {
    position: relative;
    width: 230px;
    label {
        display: none;
    }
    margin: 0 10px;
    transition(.3s all);
}

#search-q {
    background: #fff;
    border: 1px solid #d5d5d5;
    border-color: $cement-gray #d5d5d5 #e0e0e0;
    border-radius: 10px;
    color: $sailor-blue;
    font: 17px/30px $open-stack;
    height: 30px;
    outline: none;
    padding: 0 10px;
    z-index: 2;
    &:focus {
        border-color: $sailor-blue;
        box-shadow: 0 0 8px $sailor-blue;
    }
    &:-moz-placeholder {
        color: $cement-gray;
    }
    &::-moz-placeholder {
        color: $cement-gray;
    }
    &::-webkit-input-placeholder {
        color: $cement-gray;
    }
    &:invalid ~ .search-clear {
        display: none;
    }
}

.search-clear {
    hidetext();
    position: absolute;
    height: 18px;
    width: 18px;
    background: url(../img/pretty/close.png) 0 0 no-repeat;
    top: 0;
    right: 10px;
}

// Buttons that appear in headers.
.header-button {
    color: $castle-skull-gray;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    &:before {
        content: '';
        display: block;
        z-index: 11;
        height: 34px;
        width: 2px;
        background: url(../img/divider.png) no-repeat;
        margin-top: 7px;
        float: left;
    }

    // header buttons with icons
    &.icon {
        position: relative;
        hidetext();
        &:after {
            content: '';
            background: url(../img/header-icons.png) no-repeat;
            display: block;
        }
    }
    &.cancel:after {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 12px;
        left: 13px;
        background-position: 0 -24px;
    }
    &.settings {
        display: block;
    }
    &.settings:after {
        background-image: url(../img/pretty/gear.png);
        background-size: 24px auto;
        width: 30px;
        height: 30px;
        margin: 12px;
    }

    // Back is complicated.
    &.back {
        hidetext();
        width: 20px;
        &:before {
            float: right;
        }
        b {
            background: url(../img/header-icons.png) 0 -72px no-repeat;
            width: 12px;
            height: 24px;
            content: '';
            margin: 12px 3px;
            display: block;
        }
        &:hover {
            header-hover();
        }
        &:active {
            header-active();
       }
    }

    // 'Sign In'
    &.persona {
        display: none;
        &.loading-submit {
            hidetext();
            spinner('install');
            outline: 0;
            width: 50px;
            &:after {
                display: none;
            }
        }
    }
}


// search results tile expand toggle
.expand-toggle {
    display: block;
    width: 64px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        margin-top: 12px;
        width: 54px;
        height: 24px;
        display: block;
        background: url(../img/expand-toggle.png) no-repeat;
    }
    &.active:after {
        background-position: 0 -24px;
    }
}

.overlay .expand-toggle,
.site-header .account-links,  // .site-header for specificity
.active .account-links {
    display: none;
}

// How does the header look for the various page "types"?
[data-page-type='root'] {
    .header .expand-toggle {
        display: none;
    }
}

[data-page-type='search'] {
    .back, .expand, .filter {
        display: block;
    }
    .site {
        display: none;
    }
    .site-header .title {
        display: none;
    }
    .flex-span {
        display: block;
        flex(1);
    }
}
[data-page-type='leaf'] {
    .header .expand-toggle, .search, .site {
        display: none;
    }
    .back {
        display: block;
    }
}

// ***************** Cursor (Desktop) (>= 1024px)

// This probably shouldn't be media query based.
@media (min-width: 1024px) {
    .header-button {
        &:before {
            content: none;
        }
        &.settings {
            width: 40px;
            position: relative;
            &:before {
                background: none;
            }
            &:after {
                background-size: 30px auto;
                margin: 11px 7px;
            }
        }
    }

    .act-tray {
        display: block;
        .settings {
            display: block;
        }
    }
    .act-tray.active {
        position: relative;
        .settings {
            &:before {
                gradientTop(unquote('rgba(252, 252, 253, 0) 0%, rgba(43, 54, 63, 0.07) 15%, rgba(43, 54, 63, 1) 100%'));
                content: "";
                display: block;
                position: absolute;
                height: 39px;
                width: 40px;
                left: -3px;
                z-index: 2;
            }
            &:after {
                position: absolute;
                z-index: 3;
                background-position: 0 -30px;
            }
        }
    }

    .site-header {
        height: 90px;
        max-height: 90px;
        position: relative;
        > nav {
            height: 90px;
            margin: 0 auto;
            max-width: 1024px;
        }
        .site {
            width: 280px;
            height: 60px;
        }
        .wordmark {
            background: url(../img/pretty/wordmark.png) 0 50% no-repeat;
            background-size: 232px auto;
            height: 60px;
            max-width: 232px;
            width: 232px;
        }
        .persona {
            display: block;
        }
        .act-tray {
            display: none;
        }
    }
    .nightly .site-header {
        .wordmark {
            background-image: url(../img/logos/mp_nightly_wordmark_large.png);
        }
    }

    .logged-in .site-header {
        .act-tray {
            display: block;
        }
        .persona {
            display: none;
        }
    }

    .active .account-links {
        display: block;
    }

    #page {
        padding-top: 0;
    }

    .site-header .search,
    #search-q {
        width: 532px;
    }

    #search-q {
        font-size: 24px;
        font-weight: 400;
        height: 48px;
        line-height: 48px;
        padding: 5px 15px;
        &:valid {
            // Pad for the checkmark icon.
            padding-right: 42px;
        }
    }

    .search-clear {
        top: 15px;
        right: 15px;
    }

    // How does the header look for the various page "types"?
    [data-page-type='root'] {
        .site-header .title {
            text-indent: -9999px;
        }
    }
    [data-page-type='search'] {
        .back, .filter, .site {
            display: block;
        }
        .back, .site-header .expand-toggle,
        .header-button.filter,
        .flex-span {
            display: none;
        }
        .site-header .title {
            display: block;
            text-indent: -9999px;
        }
    }
    [data-page-type='leaf'] {
        .back, .site, .search {
            display: block;
        }
        .back, .expand-toggle {
            display: none;
        }
        .site-header .title {
            text-indent: -9999px;
        }
    }
}

@media $retina-wide {
    .site-header .wordmark {
        background-image: url(../img/pretty/wordmark-2x.png);
        background-size: 232px auto;
    }
}

// ***************** Narrow Mobile (< 600px)

@media (max-width: 540px) {
    [data-page-type='root'] {
        .site-header {
            .site, .wordmark {
                width: 32px;
            }
            .title {
                display: none;
            }
            .search {
                flex(1);
                width: auto;
                margin: 0 10px;
            }
        }
    }
    [data-page-type='search'] {
        .site-header.title {
            text-indent: -9999px;
        }
        .flex-span {
            display: none;
        }
        .act-tray {
            display: none;
        }
        .header {
            .search {
                flex(1);
                width: auto;
                margin: 0 10px;
            }
        }
    }
    [data-page-type='leaf'] {
        .act-tray {
            display: none;
        }
    }
    .site-header.suggestions {
        nav > *:not(.search) {
            display: none;
        }
        .search {
            position: relative;
            width: 100%;
            left: auto;
        }
        .search-clear {
            display: block;
        }
    }
}

@media $retina {
    .search-clear {
        background-image: url(../img/pretty/close-2x.png);
        background-size: 18px auto;
    }
    .header-button.settings:after {
        background-image: url(../img/pretty/gear-2x.png);
    }
    .header-button.persona.loading-submit {
        spinner-install-image('retina');
    }
}

.nav-overlay.show {
    background: transparent;
}
